# Dependencies
node_modules/
/dist
/build

# Next.js
.next/
out/

# Environment Variables
.env
.env.local
.env.production
.env.*.local

config/*.json
backups/
klicus_db_backup.sql

# Desktop / OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
